server:
  port: 8081

spring:
  application:
     name: service-client
  datasource:
    url: jdbc:h2:mem:client-db
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
