server:
  port: 8082

spring:
  application:
     name: service-car
  datasource:
    url: jdbc:h2:mem:car-db
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
