server:
  port: 8081

spring:
  application:
     name: inventory-service
  datasource:
    url: jdbc:h2:mem:client-db
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: inventory-service
        prefer-ip-address: true
